.card-width{
  width: 45%;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.outer-div{
  min-height: 100vh;
}

.top-margin{
  margin-top: 240px;
}